/*  your css code here. If applicable */
*{
	background-color:#cbd6cbff;
}
body{
	width:1100px; 
}
.imageContainer{
	width: 150px;
}
.first{
	width:200px;
}
.second{
	width:600px;
}
.third{
	width:200px;
}
li{
	list-style-type: upper-alpha;
}
.firstRowImage{
	width:180px;
}
.secondRowImage{
	width:180px;
}